.hero-img {
    background-image: url(../../assets/image-hero-mobile.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 300px;
    margin: 0 -1.5rem;
}

.text-wrapper {
    margin: 0 auto;
}

.content {
    text-align: center;
}

.content h1 {
    font-size: 2rem;
    padding-top: 1rem;
}

.content p {
    color: var(--medium-grey);
    line-height: 1.5rem;
}

button.learn-more {
    font-family: "Epilogue", sans-serif;
    font-weight: 500;
    font-size: 0.95rem;
    color: var(--off-white);
    background-color: var(--dark-grey);
    border: 2px solid transparent;
    border-radius: 13px;
    padding: 0.75rem 1.1rem;
    margin-top: 0.5rem;
}

button.learn-more:hover {
    cursor: pointer;
    background-color: transparent;
    color: var(--dark-grey);
    border: 2px solid var(--dark-grey);
}

.endorsement-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3.5rem;
    padding-bottom: 1rem;
}

.endorsement-icons img {
    flex: 1;
    max-width: 80px;
    padding-left: 10px;
}

.endorsement-icons img:first-child {
    padding-left: 0; /* remove padding from first icon */
}

img[alt="audiophile"] {
    max-width: 70px; /* Account for size difference */
}


/* Media Query - TABLETS */
@media screen and (min-width: 675px) {
    .hero-img {
        height: 50vh;
    }

    .content h1 {
        margin-top: 2.5rem;
    }

    .endorsement-icons img {
        max-width: 100px;
    }

    img[alt="audiophile"] {
        max-width: 90px; /* Account for size difference */
    }
}

/* Media Query - DESKTOP */
@media screen and (min-width: 975px) {
    section.homepage {
        display: flex;
        height: 100%;
        margin-top: 5rem;
    }

    main.content {
        order: 1;
        width: 60%;
        text-align: left;
    }

    .text-wrapper {
        margin: 0;
        width: 90%;
    }

    .content h1 {
        font-size: 3.5rem;
        margin-bottom: 3rem;
        margin-top: 0;
        width: 80%;
    }

    .content p {
        font-size: 1.2rem;
        line-height: 1.75rem;
        margin-top: 0;
        margin-bottom: 3rem;
    }

    button.learn-more {
        font-size: 1.1rem;
        padding: 1rem 1.5rem;
        align-self: flex-start;
        margin-bottom: 0.5rem;
    }

    .endorsement-icons {
        padding-bottom: 1.5rem;
    }

    .endorsement-icons img {
        max-width: 110px;
    }

    img[alt="audiophile"] {
        max-width: 90px; /* Account for size difference */
    }

    .endorsement-icons img:first-child {
        padding-left: 0; /* remove padding from first icon */
    }

    .hero-img {
        background-image: url(../../assets/image-hero-desktop.png);
        background-size: contain;
        background-position: center;
        margin: -40px 0 0 0;
        height: auto;
        width: 40%;
        order: 2;
    }   
}

/* Media Query - LARGE DESKTOPS */
@media screen and (min-width: 1200px) {
    section.homepage {
        width: 80%;
    }

    .content h1 {
        font-size: 4rem;
        width: 95%;
    }

    .text-wrapper {
        width: 80%;
    }

    button.learn-more {
        margin-bottom: 3rem;
    }

    .hero-img {
        margin-top: -45px;
        margin-bottom: 20px;
    }
}

/* Fix text on large screen */
@media screen and (min-width: 1300px) {
    .content h1 {
        width: 85%;
    }

    .text-wrapper {
        width: 70%;
    }
}