/* ===== Navbar MOBILE Styles ===== */
.logo {
    padding: 1rem 0;
}

.menu-icons {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    z-index: 99;
}

.menu-icons button {
    border: none;
    background-color: transparent;
}

button.open-icon {
    background-image: url(../../assets/icon-menu.svg);
    height: 18px;
    width: 30px;
}

button.close-icon {
    background-image: url(../../assets/icon-close-menu.svg);
    height: 27px;
    width: 27px;
}

.nav-links {
    display: none; /* Hide on mobile */
}

.nav-links ul {
    list-style: none;
    padding: 0 1rem;
}

a {
    text-decoration: none;
    color: var(--medium-grey);
    font-size: 15px;
}

a:hover {
    color: var(--dark-grey);
}

.submenu-open::after {
    content: url(../../assets/icon-arrow-up.svg);
    color: var(--medium-grey);
    padding-left: 7px;
}

.submenu-closed::after {
    content: url(../../assets/icon-arrow-down.svg);
    color: var(--medium-grey);
    padding-left: 7px;
}

/* Style links the same when shown and hidden initially. Create animation */
#mobile-nav-links,
#hide-mobile-nav-links {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 65%;
    display: block; /* shows it */
    background-color: #fff;
    padding: 4rem 0.75rem;
    transition: all 0.3s;
}

.main-menu li {
    padding-bottom: 1.5rem;
}

.login-menu {
    text-align: center;
}

li.register {
    border: 2px solid var(--medium-grey);
    border-radius: 14px;
    padding: 0.7rem 1.25rem;
    margin-top: 1rem;
}

/* Position nav menus */
.navbar #mobile-nav-links {
    transform: translateX(0);
}

.navbar #hide-mobile-nav-links {
    transform: translateX(200%);
}

/* Black background div (nav wrapper) styles */



/* ======== Media Queries - TABLET ========= */
/* Fix Register button on tablet */
@media screen and (min-width: 675px) {
    li.register {
        width: 80%;
        margin: 1rem auto 0 auto;
    }
}


/* ======== Media Queries - DESKTOP STYLES!!!!! ========= */
@media screen and (min-width: 975px) {
    .navbar {
        max-width: 1300px;
    }

    .logo {
        padding-top: 1.5rem;
    }

    /* NAVBAR stlyes for DESKTOP */
    .navbar #hide-mobile-nav-links {
        transform: translateX(0); /* Bring it back onto page */
        width: 100%;
        height: auto;
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .navbar {
        display: flex;
        align-items: center;
    }

    .menu-icons {
        display: none; /* Hide mobile menu icons */
    }

    menu {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .nav-links li {
        padding-bottom: 0;
    }

    ul li {
        padding-left: 2.5rem;
    }

    ul.main-menu {
        padding-left: 1.5rem;
        display: flex;
    }

    ul.login-menu {
        display: flex;
        align-items: center;
        padding: 0 0 0 40px;
    }

    ul.login-menu li:first-child {
        margin-right: 2.5rem;
    }

    li.register {
        width: auto;
        margin-top: 0;
        padding: 0.7rem 1.25rem;
    }
}