.navbar {
    max-width: 1300px;
}

.logo {
    padding: 1rem 0;
}

.menu-icons {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
}

.menu-icons button {
    border: none;
    background-color: transparent;
}

button.open-icon {
    background-image: url(../../assets/icon-menu.svg);
    height: 18px;
    width: 30px;
}

button.close-icon {
    background-image: url(../../assets/icon-close-menu.svg);
    height: 27px;
    width: 27px;
}

.nav-links {
    display: none;
}

a {
    text-decoration: none;
    color: var(--medium-grey);
    font-size: 15px;
}

a:hover {
    color: var(--dark-grey);
}

/* Media Queries - DESKTOP styles */
@media screen and (min-width: 975px) {
    .logo {
        padding: 1.5rem 0;
    }

    .navbar {
        display: flex;
        align-items: center;
    }

    nav {
        display: flex;
        width: 100%;
    }

    .menu-icons {
        display: none;
    }

    menu {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .nav-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ul {
        list-style: none;
    }

    ul li {
        padding-left: 2.5rem;
    }

    ul.main-menu {
        padding-left: 1.5rem;
        display: flex;
    }

    .submenu-open::after {
        content: url(../../assets/icon-arrow-up.svg);
        color: var(--medium-grey);
        padding-left: 7px;
    }

    .submenu-closed::after {
        content: url(../../assets/icon-arrow-down.svg);
        color: var(--medium-grey);
        padding-left: 7px;
    }

    ul.login-menu {
        display: flex;
        align-items: center;
    }

    ul.login-menu li:first-child {
        margin-right: 2.5rem;
    }

    li.register {
        border: 2px solid var(--medium-grey);
        padding: 0.7rem 1.25rem;
        border-radius: 14px;
    }
}