html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.logo {
    padding: 1rem 0;
}

.menu-icons {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
}

.nav-links {
    display: none;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 41%);
    font-size: 15px;
}

a:hover {
    color: hsl(0, 0%, 8%);
}

/* Media Queries - DESKTOP styles */
@media screen and (min-width: 915px) {
    .logo {
        padding: 1.5rem 0;
    }

    .navbar {
        display: flex;
        align-items: center;
    }

    nav {
        display: flex;
        width: 100%;
    }

    .menu-icons {
        display: none;
    }

    menu {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .nav-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ul {
        list-style: none;
    }

    ul li {
        padding-left: 2.5rem;
    }

    ul.main-menu {
        padding-left: 1.5rem;
        display: flex;
    }

    .submenu-open::after {
        content: url(../../assets/icon-arrow-up.svg);
        color: hsl(0, 0%, 41%);
        padding-left: 7px;
    }

    .submenu-closed::after {
        content: url(../../assets/icon-arrow-down.svg);
        color: hsl(0, 0%, 41%);
        padding-left: 7px;
    }

    ul.login-menu {
        display: flex;
        align-items: center;
    }

    ul.login-menu li:first-child {
        margin-right: 2.5rem;
    }

    li.register {
        border: 2px solid hsl(0, 0%, 41%);
        padding: 0.7rem 1.25rem;
        border-radius: 14px;
    }
}