html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    --off-white: hsl(0, 0%, 98%);
    --medium-grey: hsl(0, 0%, 41%);
    --dark-grey: hsl(0, 0%, 8%);
}

/* Mobile Design */
.App {
    font-family: "Epilogue", sans-serif;
    font-weight: 500;
    border-color: hsl(0, 0%, 98%);
}

.container {
    display: flex;
    flex-flow: column wrap;
}

.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}